body{
     background-color: #f0f0f3;
}
.container{
     text-align: center;
     /* display: flex;
     /* flex-direction: column; */
     /* justify-content: center; */
     
}

h1,p{
     margin-top: 50px;
     text-align: center;
}
#inputField{
     width: 360px;
     height: 46px;
     border: 2px solid rgb(0, 0, 0);
     outline: none;
     font-size: 25px;
     text-align: start;
     height: 49px;
     
}

button{
     height: 52px;
     width: 70px;
     outline: none;
     box-sizing: border-box;
     margin-left: 5px;
     /* margin-top: 30px; */
     border: 1px solid rgb(0, 0, 0);
     font-size: 30px;
     cursor: pointer;
     background-color: rgb(255, 255, 255);

}
#addToDo:hover{
     background-color: rgba(112, 112, 112, 0.339);
}


.todos{
     margin-top: 65px;
}

.paragraph-styling{
     margin-left: 29%;
     width: 40%;
     margin-top: 40px;
     cursor: pointer;
     height: 30px;
     font-size: 40px;
     text-align:center;
   padding-bottom: 20px;
     border: 1px dotted;
   
}


